.footer{
    display: flex;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 0.75rem;
    justify-content: space-evenly;
    row-gap: 2.5rem;
    padding-left: 8rem; /* Adjust as needed */
  padding-right: 8rem; 
  padding-top: 3.5rem; /* Adjust as needed */
  padding-bottom: 3.5rem;

  cursor: pointer;
}
.footer__top{
    margin-block-end: 1rem;
    font-size: 1.15rem;
    color: #ffffff;
}
.footer__top:hover{
    background-color: black;
}
.footer_left{
   font-weight: bolder;
}